<!DOCTYPE html>
<html>
	<head>
		<title>CSS Playground</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
	 <div class="nav">
		<ul>
			<li><a class-"default" href="../index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="Bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="Javascript-playground.html">Javascript</a></li>
			<li><a href="jQuery-playground.html">jQuery</a></li>
			<li><a href="Git-playground.html">Git</a></li>
			<li><a href="Resources-playground.html">Resources</a></li>
		</ul>
	</div>
		<h1>CSS Items</h1>
		
		<h3>Uses</h3>
			<ul>
				<li>To give the appearance of your site, a unique look and feel.</li>
				<li>To alter colors, fonts, backgrounds, etc;. </li>
				<li>To implement some effects and animations, although it's not as powerful as jquery/javascript.</li>
				<li></li>
			</ul>
		<hr>

<div class="css-statements">
		<h3>CSS Statements</h3>
			<p>Four main components of CSS statement</p>
				<ol>
					<li><b>Declaration</b> The whole CSS statement in curly braces. </li>
					<li><b>Selector</b>The name of the part you want to style</li>
					<li><b>Property</b>Properties to edite (e.g., width, height, backgorund, etc;)</li>
					<li><b>Value</b>numbers, colors, urls - things to give value to the property.</li>
				</ol>
			</div>
<div class="face">
  <div class="lefteye">
  <div id="inner-left"></div>
  <div id="left-brow"></div>
  </div>
  <div class="righteye">
  <div id="inner-right"></div>
  </div>
  <div class="mouth"></div>
  <div class="left-eyebrow"></div>
  <div class="right-eyebrow"></div>
  <div class="right1"></div>
  <div class="right2"></div>
  <div class="right3"></div>
  <div class="right4"></div>
  <div class="right5"></div>
  <div class="right6"></div>
  <div class="right7"></div>
  <div class="right8"></div>
</div>


	</body>
</html>