<!DOCTYPE html>
<html>
	<head>
		<title>Resources</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>

	<div class="nav">
		<ul>
			<li><a class-"default" href="../index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="Bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="Javascript-playground.html">Javascript</a></li>
			<li><a href="jQuery-playground.html">jQuery</a></li>
			<li><a href="Git-playground.html">Git</a></li>
			<li><a href="Resources-playground.html">Resources</a></li>
		</ul>
	</div>
<!--TODO Add correct image -->
	<div>
		<h2>Inspiration and Motivation</h2>
		<p>Here's a little image to keep in mind when things get tough in coding</p>
		<img src="luffy_quote_by_lotteblue10-d5chgri.jpg" />
	</div>

	<div class="resources">
		<h2>Resources</h2>
			<h3>Here are some good resources</h3>

		<table border="1">
			<tr>
				<td>Languages</td>
				<td>Site Name</td>
				<td>Link</td>
				<td>Description</td>
			</tr>	
			<tr>
				<td>HTML, CSS, JavaScript, jQuery</td>
				<td>freecodecamp</td>
				<td><a href="https://www.freecodecamp.com">freecodecamp</a></td>
				<td>This site has practice examples for basic web development</td>
			</tr>
			<tr>
				<td>HTML, CSS, Javascript, jQuery, Git, Command Line, Python</td>
				<td>Codeacademy</td>
				<td><a href="https://www.codeacademy.com">CodeAcademy</a></td>
				<td>Site will help you practice your skills its probably one of the most popular free learning sites on the web and they are always updating.</td>
			</tr>
			<tr>
				<td>HTML, CSS, JavaScript, jQuery, C# Basics, SQL</td>
				<td>w3schools</td>
				<td><a href="https://www.w3schools.com">w3schools</a></td>
				<td>This site will help you practice your skills</td>
			</tr>
			<tr>
				<td>Bootstrap</td>
				<td>Bootstrap.com</td>
				<td><a href="https://www.getbootstrap.com">Bootstrap</a></td>
				<td>This site is a free html and css and javascript tool that allows you to develope responsive apps</td>
			</tr>
			<tr>
				<td>Any language</td>
				<td>Stack OverFlow</td>
				<td><a href="https://www.stackoverflow.com">StackOverFlow</a></td>
				<td>As you get more and more into developement, this site becomes indespensible, it doesn't seem like it now, but you will understand.</td>
			</tr>
		</table>
	</div>


	</body>
	</html>